/* Estilo general para el fondo */
body {
    background-color: #f8f9fa;
}

/* Estilo para la tarjeta de login */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}